<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project4">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/o"
        android:label="@string/app_name"
        android:roundIcon="@drawable/o"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project4">
        <receiver
            android:name=".BReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter  android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
                <!--  <action android:name="android.intent.action.MEDIA_REMOVED" />
               <action android:name="android.intent.action.MEDIA_MOUNTED" />
            <data android:scheme="file" />-->
                <action android:name="android.intent.action.POWER_CONNECTED" />
                <action android:name="android.intent.action.POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>